.slider-nav {
  bottom: rem(20px);
  counter-reset: navSlide;
  display: flex;
  font-size: rem(10px);
  justify-content: center;
  left: 50%;
  margin-bottom: rem(-40px);
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity .3s, margin-bottom .4s;
  z-index: 1;
  &-item {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    color: transparent;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    height: rem(15px);
    justify-content: center;
    position: relative;
    width: rem(15px);
    &:not(:first-of-type) {
      margin-left: rem(10px);
    }
    &::after {
      counter-increment: navSlide;
      content: counter(navSlide);
    }
  }
}